<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myVisitorCardTransactionsLabel" jhiTranslate="gatewayApp.visitorCardTransactions.home.createOrEditLabel">Create or edit a Visitor Card Transactions</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!visitorCardTransactions.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="visitorCardTransactions.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.visitorCardTransactions.retailerNo" for="field_retailerNo">Retailer No</label>
            <input type="text" class="form-control" name="retailerNo" id="field_retailerNo"
                [(ngModel)]="visitorCardTransactions.retailerNo"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.visitorCardTransactions.tfscNumber" for="field_tfscNumber">Tfsc Number</label>
            <input type="text" class="form-control" name="tfscNumber" id="field_tfscNumber"
                [(ngModel)]="visitorCardTransactions.tfscNumber"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.visitorCardTransactions.voucherNo" for="field_voucherNo">Voucher No</label>
            <input type="text" class="form-control" name="voucherNo" id="field_voucherNo"
                [(ngModel)]="visitorCardTransactions.voucherNo"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.visitorCardTransactions.creditCardNo" for="field_creditCardNo">Credit Card No</label>
            <input type="text" class="form-control" name="creditCardNo" id="field_creditCardNo"
                [(ngModel)]="visitorCardTransactions.creditCardNo"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.visitorCardTransactions.creditCardExpiry" for="field_creditCardExpiry">Credit Card Expiry</label>
            <input type="text" class="form-control" name="creditCardExpiry" id="field_creditCardExpiry"
                [(ngModel)]="visitorCardTransactions.creditCardExpiry"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.visitorCardTransactions.purchaseTime" for="field_purchaseTime">Purchase Time</label>
            <input type="text" class="form-control" name="purchaseTime" id="field_purchaseTime"
                [(ngModel)]="visitorCardTransactions.purchaseTime"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.visitorCardTransactions.vatOff" for="field_vatOff">Vat Off</label>
            <input type="text" class="form-control" name="vatOff" id="field_vatOff"
                [(ngModel)]="visitorCardTransactions.vatOff"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.visitorCardTransactions.vatAmount" for="field_vatAmount">Vat Amount</label>
            <input type="number" class="form-control" name="vatAmount" id="field_vatAmount"
                [(ngModel)]="visitorCardTransactions.vatAmount"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.visitorCardTransactions.grossAmount" for="field_grossAmount">Gross Amount</label>
            <input type="number" class="form-control" name="grossAmount" id="field_grossAmount"
                [(ngModel)]="visitorCardTransactions.grossAmount"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.visitorCardTransactions.refundAmount" for="field_refundAmount">Refund Amount</label>
            <input type="number" class="form-control" name="refundAmount" id="field_refundAmount"
                [(ngModel)]="visitorCardTransactions.refundAmount"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.visitorCardTransactions.vatRate" for="field_vatRate">Vat Rate</label>
            <input type="number" class="form-control" name="vatRate" id="field_vatRate"
                [(ngModel)]="visitorCardTransactions.vatRate"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.visitorCardTransactions.status" for="field_status">Status</label>
            <select class="form-control" name="status" [(ngModel)]="visitorCardTransactions.status" id="field_status" >
                <option value="NOT_MATCHED">{{'gatewayApp.TransactionStatus.NOT_MATCHED' | translate}}</option>
                <option value="MATCHED">{{'gatewayApp.TransactionStatus.MATCHED' | translate}}</option>
                <option value="SUSPENDED">{{'gatewayApp.TransactionStatus.SUSPENDED' | translate}}</option>
                <option value="SETTLED">{{'gatewayApp.TransactionStatus.SETTLED' | translate}}</option>
                <option value="REFUNDED">{{'gatewayApp.TransactionStatus.REFUNDED' | translate}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.visitorCardTransactions.reason" for="field_reason">Reason</label>
            <input type="text" class="form-control" name="reason" id="field_reason"
                [(ngModel)]="visitorCardTransactions.reason"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.visitorCardTransactions.uuid" for="field_uuid">Uuid</label>
            <input type="text" class="form-control" name="uuid" id="field_uuid"
                [(ngModel)]="visitorCardTransactions.uuid"  />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gatewayApp.visitorCardTransactions.visitorCard" for="field_visitorCard">Visitor Card</label>
            <select class="form-control" id="field_visitorCard" name="visitorCard" [(ngModel)]="visitorCardTransactions.visitorCard" >
                <option [ngValue]="null"></option>
                <option [ngValue]="visitorCardOption.id === visitorCardTransactions.visitorCard?.id ? visitorCardTransactions.visitorCard : visitorCardOption" *ngFor="let visitorCardOption of visitorcards; trackBy: trackVisitorCardById">{{visitorCardOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
